*.o
.DS_Store
*~
/bin
/obj
/deps
/test
/local
/.vscode
*.log
/src/consumer-js/libs/*.js
/src/consumer-js/libs/*.css
/src/consumer-js/libs/*.map
/src/consumer-js/libs/*.eot
/src/consumer-js/libs/*.ttf
/src/consumer-js/libs/*.woff2
/src/consumer-js/libs/*.woff
/src/consumer-js/libs/*.json
/src/consumer-js/libs/*.zip
/src/consumer-js/libs/LICENSE

